.browse-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 50px;
  
  .book-category{
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
    margin-bottom:0px;
    // margin-left: 50px;
    @media (max-width: 660px) {
      font-size: 13px;
      text-align: center;
      margin-top: 40px;
      margin-bottom:0px;
    }
  }

  .category-divider{
    position: absolute;
    left: 0;
    right: 0; 
    width: 100%;
    border-top: 1px solid black;
    margin: 10px;
    // margin-left: ;
    // margin-right: 0;
    // padding-left: 0;
    // padding-right: 0;
  }

  .books{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    @media (max-width: 660px) {
      margin-top: 15px;
    }

    .book-card {
      width: 200px;
      margin: 10px;
      @media (max-width: 660px) {
        width: 90px;
        margin: 5px;
      }
    }
    
  }

  .image {
    width: 100%;
    object-fit: cover;
    height: 300px;
    @media (max-width: 660px) {
      height: 150px;
    }

  }
  
}
