.my-books-container{
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 50px;



  .select-category-container{
    flex: 1;
    background-color: #f2f2f2;
    // border-right: 0.7px solid #ccc;
    padding: 20px;
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 20px;
    text-decoration: none;
  
    ul {
      list-style: none;
      padding: 0;

      .category-query{
        text-decoration: none;

        li {
          cursor: pointer;
          margin: 10px 10px;
          padding: 10px;
          text-decoration: none;
          color: black;
          @media (max-width: 660px) {
            font-size: 13px;
          }
  
          &.active {
            background-color: #ccc;
            font-weight: bold;
          }
      }
    
      }
    }
  }

  .books-container {
    flex: 3;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-top: 50px;


    .book-card {
      display:flex;
      flex-direction: column;
      align-items: center;
      width: 200px;
      height: 300px;
      background-color: #fff;
    
      overflow: hidden;

      @media (max-width: 660px) {
        width: 180px;
        height: 240px;
        margin: 2px;
      }

      .book-cover{
        height: 80%;
        width: 100%;
        margin-bottom: 10px;

        .image {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

